<h1>Hospital vista</h1>
<p><a href="">Login Paciente</a> </p>
<p> <a href=""> Login Medico</a> </p>

Eres Nuevo?
<p> <a href="/doctor/registro">Registrar paciente</a> </p>
<p> <a href="/doctor/registro">Registrar Doctor</a> </p>

