<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> <!-- Estilos General para todas las paginas -->
    <!--<link rel='stylesheet' href='/stylesheets/{{style}}' />  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lumen/bootstrap.min.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
